{% extends 'base.html' %}

{% load static %}

{% load bootstrap5 %}

{% block cimscontent %}

    <div class="bg-body-tertiary p-5 rounded">
        <h2>{{ title }}</h2>

        <div class="row">
            <div class="col-sm-7">
                <form action="" method="post">
                    {% csrf_token %}
                    <div class="row">
                        {% for field in form %}
                        <div class="col-12">
                            {% bootstrap_field field %}
                        </div>
                        {% endfor %}
                    </div>
                    <button class="btn btn-success">Save</button>
                </form>
            </div>

            <div class="col-sm-5 aligncenter">
                <img src="{% static 'img/pc.png' %}" alt="computer" style="width:100%">       
            </div>
        </div>
    </div>

{% endblock cimscontent %}